<%- model_class = Transport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<%= image_tag @transport.picture.url(:medium)%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @transport.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body_type) %>:</strong></dt>
  <dd><%= @transport.body_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></dt>
  <dd><%= @transport.capacity %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              transports_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_transport_path(@transport), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              transport_path(@transport),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
