<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
  <%= image_tag @order.cargo_picture.url(:medium)%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:what) %>:</strong></dt>
  <dd><%= @order.what %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @order.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @order.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @order.category_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @order.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              category_orders_path(@category), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>




<%= form_for [@order, @comment] do |f| %>
        <div class="field">
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </div>
        
          <%= f.hidden_field :order_id, value: @order.id %>
          
        <div class="actions">
          <%= f.submit 'Отправить', class: "btn btn-default" %>
        </div>
      <% end %>
     
    <% @order.comments.each do |comment| %>
      <%= comment.user.email%>
      <p>Коментарий: <%= comment.body %><br>
      <%= comment.created_at %>
      </p>
      <br>
    <% end %>